
foreground {{colors.foreground}}
background {{colors.background}}
color0 {{colors.color0}}
color8 {{colors.color8}}
color1 {{colors.color1}}
color9 {{colors.color9}}
color2 {{colors.color2}}
color10 {{colors.color10}}
color3 {{colors.color3}}
color11 {{colors.color11}}
color4 {{colors.color4}}
color12 {{colors.color12}}
color5 {{colors.color5}}
color13 {{colors.color13}}
color6 {{colors.color6}}
color14 {{colors.color14}}
color7 {{colors.color7}}
color15 {{colors.color15}}
