input {
    keyboard {
        repeat-rate 35
        repeat-delay 200
        xkb {
              layout "de,us"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    focus-follows-mouse
}
