layout {

    focus-ring {
        active-color   "#ffb4a9"
        inactive-color "#181211"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a9"
        inactive-color "#181211"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4a9"
        inactive-color "#7d2b22"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a980"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4a9"
        urgent-color "#ffb4ab"
    }
}
